* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #362626 !important;
    color: white !important;
    font-family: 'Courier New', Courier, monospace !important; /* fonte parametriz치vel*/
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    background-color: #201818;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
    border-radius: 15px 50px;
    opacity: 0.9;
}

.nav-btn {
    background-color: #201818;
    color: white;
    border: none;
    margin: 20px;
}

button::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: rgb(207, 207, 207); /* Parametriz치vel*/
    transition: width .3s ease-in;
  }
  
  button:hover::after {
    width: 100%;
  }

main {
    padding: 100px;
}

.corpo {
    margin-top: 180px;
    -webkit-box-shadow: 2px 2px 13px 16px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 13px 16px rgba(0,0,0,1);
    box-shadow: 2px 2px 13px 16px rgba(0,0,0,1);
    border-radius: 15px 50px;
    padding: 30px;
    /* Background parametriz치vel*/
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.intro-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-thumbnail {
    width: 300px;
    transition: .5s;
    border: none;
}

.intro-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.intro-text {
    line-height: 40px;
}

.quemSou-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.quemSou-body {
    line-height: 40px;
}

.tecnologias-quemSou { 
    line-height: 50px;
    width: 90%; 
}

.servico-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.servico-body {
    line-height: 40px;
}

.servico {
    line-height: 80px;
    cursor: pointer;
}

.projetos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projeto-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.projeto-body {
    line-height: 40px;
}

.projeto-images { /* Parametriz치vel*/
    width: 200px; 
    margin: 70px;

    
}

.parceiros-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.parceiros-body {
    line-height: 40px;
}

.parceiros-images {
width: auto;

}

.parceiro-image1 {
    width: 300px;
}

.contato-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;  
}

.forms-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.insert-forms {
    width: 500px;
    border: 5px groove black;
    height: 50px;
    padding: 20px;
    border-radius: 10px;
}

.insert-text {
    border: 5px groove black;
    border-radius: 10px;
}

.insert-forms:hover {
    background-color: rgb(185, 185, 185);
}

.insert-text:hover {
    background-color: rgb(216, 216, 216);
}

.btn-forms {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    
} 

.btn-forms:hover {
    background-color: rgb(185, 185, 185);
}

.rodape {
    width: auto;
    background-color: #201818;
    border-top: 2px solid black
}

.rodape-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

}

.contato-image {
    width: 40px;
}

.social-container {
    margin-top: -30px;
}

.social-image {
    width: 40px;
}

.mkt-dev{
    width: 200px;
}

.dev-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
   margin-top: 50px;
   background-color: #000000;
}


